{
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/typescript"
  ],
  "rules": {
    "prefer-const": "error",
    "sort-keys": ["error", "asc", { "natural": true }],
    "sort-vars": "error",
    "import/newline-after-import": "error",
    "import/no-absolute-path": "error",
    "import/no-dynamic-require": "error",
    "import/no-mutable-exports": "error",
    "import/no-nodejs-modules": "error",
    "import/no-self-import": "error",
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc" },
        "groups": ["builtin", "external", "parent", "sibling", "index"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
